trigger:
- main

variables:
  imageName: 'devopsjuniorapp'

stages:
- stage: Build
  jobs:
  - job: BuildImage
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Docker@2
      inputs:
        containerRegistry: 'ACR-Service-Connection'
        repository: '$(imageName)'
        command: 'buildAndPush'
        Dockerfile: '**/Dockerfile'
        tags: 'latest'

- stage: Deploy
  jobs:
  - job: DeployWebApp
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: AzureWebAppContainer@1
      inputs:
        azureSubscription: 'Azure-Service-Connection'
        appName: 'devops-junior-app'
        containers: 'conainerjuniordevops.azurecr.io/$(imageName):latest'
